@import url('https://fonts.googleapis.com/css?family=Audiowide|Bangers|Orbitron:400,500,700');
body{
  margin: 0;
  padding:0;
  font-family: sans-serif;
}

.marTop20{
  margin-top: 20px;
}

.header-menu{
  position: fixed;
  top:10px;
  left:0;
  width: 100%;
  z-index: 1;
}

.menu-toggle{
  width: 50px;
  height: 50px;
  background: rgba(255,255,255, .5);
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
  z-index: 1;
  transition: .5s;
}

.menu-toggle.active{
  background: #a38a17;
}

.menu-toggle span{
  position: absolute;
  display: block;
  height: 4px;
  background: #262626;
  width: 60%;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  transition: .5s;
}

.menu-toggle span:nth-child(1){
  top: 30%;
}

.menu-toggle span:nth-child(3){
  top: 70%;
}

.menu-toggle.active span:nth-child(1){
  background: #fff;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-toggle.active span:nth-child(2){
  background: #fff;
  opacity: 0;
}

.menu-toggle.active span:nth-child(3){
  background: #fff;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

nav{
  position: absolute;
  top: 0;
  right: -100%;
  height: 50px;
  transition: .5s;
}

nav.active{
  right: 50px;
}

nav ul{
  margin: 0;
  padding:0;
  background: rgba(0,0,0,.5);
  display: flex;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  font-family: 'Audiowide', cursive;
  text-transform: uppercase;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  transition: .5s; 
}

nav ul li a:hover{
  background: #a38a17;
  color: #fff;
  text-decoration: none;
}

/**/
header{
  background: url('../image/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;   
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.texts{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.texts img{
  margin: 0 auto;
  display: block;
  max-width: 150px;
  height: auto; 
}
.texts h1{ 
  /* font-family: 'Orbitron', sans-serif; */
  font-family: 'Audiowide', cursive;
  /* font-family: 'Bangers', cursive; */
  font-weight: 500;
  font-size: 4.300rem;
  display: block;
  text-align: center;
  color: #ffd700;
  text-shadow: 2px 0 20px #000;
}

.texts h1 span{ 
 color: rgba(163,138,23,1);
 text-shadow: 2px 0 20px #fff;
}

.texts p{ 
  text-align: center;
  font-size: 1.700rem;
  color: #a38a17;
}

h1.title{
  display: block;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 20px;
  padding-right: 10px; 
  font-family: 'Audiowide', cursive;
  float: right;
  z-index: -1;
  color: #ffd700;
  text-shadow: 1px 0 5px #000;
}

h1.title:after{
  position: relative;
  top: 0;
  right: 0;
  content: '';
  width: 80%;
  height: 3px;
  display: block;
  margin: 0 auto;
  background: #a38a17;
  box-shadow: 1px 0 0 #000;
}

.about-logo{
  text-align: center;
  font-size: 12rem;
}

.about-text{
  font-size: 1.300rem;
}

section#about,
section#service,
section#portfolio,
section#contact{
  margin-top: 30px;
}

section#service,
section#contact{
  background: rgba(255,255,255, .5);
  background: url('../image/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;   
  background-size: cover;
  width: 100%;
  height: 100vh;
}

section#about{
 /* transform: skew(10deg); */
}

.arrow {
  display:block;
  text-align: center;
  font-size: 3rem;
}

.arrow a{
  color: #a38a17;
  text-shadow: 1px 0 0 #000;
}